﻿@model IList<Falley.ViewModel.Experiences.ExperienceDutyViewModel>
@using static Falley.Core.Extensions.ObjectExtensionMethods;

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4><b>Experiences</b></h4>

<div>
    <hr />
    @foreach (var experienceDuties in Model)
    {
        var experience = experienceDuties.ExperienceProfile;
        var duties = experienceDuties.DutyProfiles;
        <div class="mb-2 row ml-1">
            <div class="col-md-2" style="background-color: cadetblue">
                <label class="control-label"><b>Company</b></label>
            </div>
            <div class="col-md-6">
                <h5><a asp-area="" asp-action="Edit" asp-controller="Experiences" asp-route-id="@experience.Id">@Html.DisplayFor(model => experience.Company)</a></h5>
            </div>
        </div>

        <div class="mb-2 row ml-1">
            <div class="col-md-2" style="background-color: cadetblue">
                <label class="control-label"><b>Website</b></label>
            </div>
            <div class="col-md-6">
                <h5>@Html.DisplayFor(model => experience.Website)</h5>
            </div>
        </div>

        <div class="mb-2 row ml-1">
            <div class="col-md-2" style="background-color: cadetblue">
                <label class="control-label"><b>Position</b></label>
            </div>
            <div class="col-md-6">
                <h5>@Html.DisplayFor(model => experience.Position)</h5>
            </div>
        </div>
        <div class="mb-2 row ml-1">
            <div class="col-md-2" style="background-color: cadetblue">
                <label class="control-label"><b>Period</b></label>
            </div>
            <div class="col-md-6">
                <h5>@Html.DisplayFor(model => experience.Period)</h5>
            </div>
        </div>
        if (!duties.IsNullOrEmpty())
        {
            <partial name="_DutyDetails" model="@duties" />
        }
        <div class="mb-2 row ml-1">
            @Html.ActionLink("Add Duties", "Create", "Duties", new { experienceId = experience.Id })
        </div>

        <hr />
    }
</div>
<div class="mb-lg-5">
    @Html.ActionLink("Update Experience", "Create", "Experiences" ) |
    <a asp-action="Index">Back to List</a>
</div>
