﻿@model IList<Falley.ViewModel.Skills.SaveSkillViewModel>

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4><b>Skills</b></h4>

<div>
    <hr />
    <div class="mb-4">
        <div class="col-md-8" style="background-color: cadetblue">
            <label class="control-label"><b>Description</b></label>
        </div>
        <div class="col-md-8 mt-2">
            @foreach (var skill in Model)
            {
            <div class="row mb-2">
                <div class="col-6">
                    <h5>@Html.DisplayFor(model => skill.SkillName)</h5>
                </div>
                <div class="col-2">
                    <h5><b><a asp-action="Delete" style="color:crimson" asp-controller="Skills" asp-route-id="@skill.Id">Delete</a></b></h5>
                </div>
            </div>
            }
        </div>
    </div>
</div>
<div>
    <a asp-area="" asp-action="Create" asp-controller="Skills">Update Skill Sets</a> | 
    <a asp-action="Index">Back to List</a>
</div>
