﻿@model Falley.ViewModel.Photos.PhotoDisplayViewModel;
@{
    ViewData["Title"] = "Details";
    var userId = Model.UserId;
    TempData["id"] = userId;

}

<h4><b>Photo Details</b></h4>

<div>
    <hr />
    @if (Model.AnyPhoto)
    {
        <div class="row mt-1">
            <div class="col-6"><img src="@Url.Action("Download", "Photos")" /></div>
        </div>

    }
    else
    {
        @Html.ActionLink("Add Photo", "Upload", "Photos")
    }

</div>
<div>
    @if (Model.AnyPhoto)
    {

       @Html.ActionLink("Delete | ", "Delete", "Photos", new { id = userId }); 
    }
    <a asp-action="Index">Back to List</a>
</div>
