﻿@model Falley.ViewModel.Photos.SavePhotoViewModel

@{
    ViewData["Title"] = "Upload";
}

<h4><b>Add Photo</b></h4>
<hr />


<form method="post" enctype="multipart/form-data" asp-controller="Photos" asp-action="Upload">
    <div class="row">
        <div class="form-group">
            <div class="col-md-10">
                <input type="file" name="files" multiple />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Upload" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>