﻿@model IList<Falley.ViewModel.Educations.SaveEducationViewModel>

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4><b>Education</b></h4>
<div>
    <hr />
        @foreach (var education in Model)
        {

            <div class="mb-2 row ml-1">
                <div class="col-md-2" style="background-color: cadetblue">
                    <label class="control-label"><b>School</b></label>
                </div>
                <div class="col-md-6">
                    <h5><a asp-area="" asp-action="Edit" asp-controller="Educations" asp-route-id="@education.Id">@Html.DisplayFor(model => education.School)</a></h5>
                </div>
            </div>
            <div class="mb-2 row ml-1">
                <div class="col-md-2" style="background-color: cadetblue">
                    <label class="control-label"><b>Degree</b></label>
                </div>
                <div class="col-md-6">
                    <h5> @Html.DisplayFor(model => education.Degree)</h5>
                </div>
            </div>
            <div class="mb-2 row ml-1">
                <div class="col-md-2" style="background-color: cadetblue">
                    <label class="control-label"><b>Period</b></label>
                </div>
                <div class="col-md-6">
                    <h5> @Html.DisplayFor(model => education.Period)</h5>
                </div>
            </div>
            <hr />
        }

    </div>
<div>
    <a asp-action="Index">Back to List</a> | <a asp-action="Create" asp-controller="Educations">Update Education</a>
</div>
