﻿@model Falley.ViewModel.Users.UserDetailsUpdateViewModel;

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4><b>Details</b></h4>
    <hr />
    <div class="mb-2 row ml-1">
        <div class="col-md-2" style="background-color: cadetblue">
            <label class="control-label"><b>First Name</b></label>
        </div>
        <div class="col-md-6">
            <h5> @Html.DisplayFor(model => model.FirstName)</h5>
        </div>
    </div>
    <div class="mb-2 row ml-1">
        <div class="col-md-2" style="background-color: cadetblue">
            <label class="control-label"><b>Middle Name</b></label>
        </div>
        <div class="col-md-6">
            <h5> @Html.DisplayFor(model => model.MiddleName)</h5>
        </div>
    </div>
    <div class="mb-2 row ml-1">
        <div class="col-md-2" style="background-color: cadetblue">
            <label class="control-label"><b>Last Name</b></label>
        </div>
        <div class="col-md-6">
            <h5> @Html.DisplayFor(model => model.LastName)</h5>
        </div>
    </div>
    <div class="mb-2 row ml-1">
        <div class="col-md-2" style="background-color: cadetblue">
            <label class="control-label"><b>Email</b></label>
        </div>
        <div class="col-md-6">
            <h5> @Html.DisplayFor(model => model.Email)</h5>
        </div>
    </div>
    <div class="mb-lg-5">
        @Html.ActionLink("Go To Edit", "Edit", "Users", new { id = Model.Id }) |
        <a asp-action="Index">Back to List</a>
    </div>
    </div>
