﻿@using static Falley.Core.Extensions.ObjectExtensionMethods;
@model Falley.ViewModel.Users.UserViewModel;


@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var skillsModel = Model.SkillProfiles;
    var experiencesModel = Model.ExperienceDutiesViewModel;
    var educations = Model.EducationProfiles;
    var projects = Model.ProjectProfiles;
}
<div class="container-fluid">
    <div style="background-color:aliceblue">
        @if (!Model.AnyPhoto)
        {
            <text>No available photo currently</text>
        }
        else
        {
            <div class="text-center pt-2"><img src="@Url.Action("Download", "Photos")" /></div>
        }
        <h3 class="text-center" style="font-family:'Bodoni MT Poster'; font-size:80px"><b>@Model.UserProfile.Name</b></h3>
        <h5 class="text-center"><b>@Model.Resume.Email</b></h5>
        <h5 class="text-center"><b>@Model.Resume.PhoneNumber</b></h5>
        <h5 class="text-center"><b>@Model.Resume.Address</b></h5>
    </div>



        <h4 class="text-center" style="font-family:Cambria; font-size:30px"><b>@Model.Resume.Position</b></h4>

        <div class="row mt-1">
            <div class="col-2"><h4><b>About:</b></h4></div>
            <div class="col-10"><h5>@Model.Resume.Description</h5></div>
        </div>

        <div class="row mt-1">
            <div class="col-2"><h4><b>Skills:</b></h4></div>
            @if (skillsModel.IsNullOrEmpty())
            {
                <text>No available skill currently to display</text>
            }
            else
            {


                <ul id="horizontal-line" style="display: inline;">
                    @for (int i = 0; i < skillsModel.Count(); i++)
                    {
                        <li><h5 class="mr-2">@skillsModel.ElementAt(i).SkillName 
                            @if (i + 1 < skillsModel.Count())
                            {
                                <span>,</span>
                            }
                            </h5>
                        </li>
                    }
                
                </ul>
            }

        </div>

        <div class="row mt-1">
            <div class="col-2"><h4><b>Projects:</b></h4></div>
            @{
                if (projects.IsNullOrEmpty())
                {
                    <text>No available projects currently to display</text>
                }
                else
                {
                    for (int i = 0; i < projects.Count(); i++)
                    {
                        <ul style="display: inline-block;" id="horizontal-line">

                            <li><h5><a href="@projects.ElementAt(i).ProjectRepository" target="_blank">@projects.ElementAt(i).ProjectName</a>@if (i + 1 < projects.Count()) { <span>,</span>} </h5></li>

                        </ul>
                    }
                }
            }

        </div>
        <div class="row mt-1">
            <div class="col-2"><h4><b>Experience:</b></h4></div>
            <div class="col-10">

                @{
                    if (experiencesModel.IsNullOrEmpty())
                    {
                        <text>No available skill currently to display</text>
                    }
                    else
                    {

                        @foreach (var experience in experiencesModel)
                        {
                            var duties = experience.DutyProfiles;
                            <div class="row mb-2" style="margin-left:-45px">
                                <ul style="list-style-type: none; display:inline-block">
                                    <li><h5><b>@experience.ExperienceProfile.Position</b></h5></li>
                                    <li><hr /></li>
                                    <li>
                                        <h5>
                                            <span class="mr-2" style="color:lightcoral">Company:</span>
                                            @if (experience.ExperienceProfile.Website.IsNull())
                                            {
                                                @experience.ExperienceProfile.Company
                                            }
                                            else
                                            {
                                                <a href="http://@experience.ExperienceProfile.Website" target="_blank">@experience.ExperienceProfile.Company</a>
                                            }
                                        </h5>
                                    </li>

                                    <li>
                                        <h5><span class="mr-2">Period:</span>@experience.ExperienceProfile.Period</h5>

                                    </li>
                                </ul>
                            </div>
                            <div class="row" style="margin-left:-45px">
                                <ul style="list-style-type: none;">
                                    <li><h5><b>Duties: </b></h5></li>
                                    @{
                                        if (duties.IsNullOrEmpty())
                                        {
                                            <text>No available duties currently to display</text>
                                        }
                                        else
                                        {
                                            @foreach (var duty in duties)
                                            {
                                                <li>
                                                    <h5>@duty.Workdone</h5>
                                                </li>
                                            }
                                        }
                                    }
                                </ul>

                            </div>

                        }
                    }
                }

            </div>

        </div>

        <div class="row mt-1">
            <div class="col-2"><h4><b>Education :</b></h4></div>
            @if (educations.IsNullOrEmpty())
            {
                <text>No available education currently to display</text>
            }
            else
            {
                <div class="col-10">
                    <div class="row mb-2" style="margin-left:-40px">
                        @foreach (var education in educations)
                        {
                            <ul style="list-style-type: none; display:inline">

                                <li><h5><b>@education.School</b></h5></li>
                                <li><h5>@education.Degree</h5></li>
                                <li><h5>@education.Period</h5></li>

                            </ul>
                        }
                    </div>
                </div>
            }
        </div>

    </div>