﻿@model Falley.ViewModel.Duties.SaveDutiesViewModel

<h4><b>Add Duty</b></h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Create" asp-route-experienceId="@ViewBag.ExperienceId">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Id" type="hidden" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Workdone" class="control-label">Work done</label>
                <input asp-for="Workdone" class="form-control" />
                <span asp-validation-for="Workdone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

