﻿@model IList<Falley.ViewModel.Duties.SaveDutiesViewModel>

<div>
    <h5 class="ml-3"><b>Skills</b></h5>

    @foreach (var duty in Model)
    {
        <div class="row ml-1 mb-2">
            <div class="col-4 ">
                @Html.DisplayFor(model => duty.Workdone)
            </div>
            <div class="col-2">
                @Html.ActionLink("Remove", "Delete", "Duties", new { id = duty.Id })
            </div>
        </div>
    }
</div>
@*<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>*@
