﻿@inject Microsoft.AspNetCore.Http.IHttpContextAccessor _httpContextAccessor;
@inject Falley.Core.IService.IUserContext _userContext;
@using static Falley.Core.Extensions.ObjectExtensionMethods;

@{
    var name = _userContext.Name();
    var userId = _userContext.UserId();

}
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Falley</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">

            @if (name.IsNull())
            {
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
                    </li>
                </ul>
            }
            else
            {
                <a class="nav-link" asp-area="" asp-controller="Account" asp-action="LogOut">Sign Out</a>
                <div class="btn-group">
                    <button type="button" class="btn btn-default">@name</button>
                    <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Profile" asp-route-userId="@userId">Resume Profile</a>
                        <a class="dropdown-item nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Details" asp-route-userId="@userId">Details</a>
                        <a class="dropdown-item nav-link text-dark" asp-area="" asp-controller="Resumes" asp-action="Details" asp-route-userId="@userId">Resume</a>
                        <a class="dropdown-item nav-link text-dark" asp-area="" asp-controller="Educations" asp-action="Details" asp-route-userId="@userId">Education</a>
                        <a class="dropdown-item nav-link text-dark" asp-area="" asp-controller="Projects" asp-action="Details" asp-route-userId="@userId">Project</a>
                        <a class="dropdown-item nav-link text-dark" asp-area="" asp-controller="Skills" asp-action="Details" asp-route-userId="@userId">Skill</a>
                        <a class="dropdown-item nav-link text-dark" asp-area="" asp-controller="Experiences" asp-action="Details" asp-route-userId="@userId">Experience</a>
                        <a class="dropdown-item nav-link text-dark" asp-area="" asp-controller="Photos" asp-action="Details" asp-route-userId="@userId">Photo</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item nav-link text-dark" asp-area="" asp-controller="Account" asp-action="LogOut">Log Out</a>
                    </div>
                </div>
            }


        </div>


    </div>
</nav>