﻿@model Falley.ViewModel.Resumes.SaveResumeViewModel
@inject Falley.Core.IService.IUserContext _userContext;

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var userId = _userContext.UserId();
}

<h4><b>Resume</b></h4>

<div>
    <hr />
    <div class="mb-4">
        <div class="col-md-8" style="background-color: cadetblue">
            <label class="control-label"><b>Description</b></label>
        </div>
        <div class="col-md-8">
            <h5> @Html.DisplayFor(model => model.Description)</h5>
        </div>
    </div>
    <div class="mb-4">
        <div class="col-md-8" style="background-color: cadetblue">
            <label class="control-label"><b>Address</b></label>
        </div>
        <div class="col-md-8">
            <h5> @Html.DisplayFor(model => model.Address)</h5>
        </div>
    </div>
    <div class="mb-4">
        <div class=" col-md-8" style="background-color: cadetblue">
            <label class="control-label"><b>Phone Number</b></label>
        </div>
        <div class="col-md-8">
            <h5> @Html.DisplayFor(model => model.PhoneNumber)</h5>
        </div>
    </div>
    <div class="mb-4">
        <div class="col-md-8" style="background-color: cadetblue">
            <label class="control-label"><b>Position</b></label>
        </div>
        <div class="col-md-8">
            <h5> @Html.DisplayFor(model => model.Position)</h5>
        </div>
    </div>
    <div class="mb-4">
        <div class="col-md-8" style="background-color:cadetblue">
            <label class="control-label"><b>Email</b></label>
        </div>
        <div class="col-md-8">
            <h5> @Html.DisplayFor(model => model.Email)</h5>
        </div>
    </div>

    <div class="mb-lg-5">
        @Html.ActionLink("Go To Edit", "Edit", "Resumes", new { userId = userId }) |
        <a asp-action="Index">Back to List</a>
    </div>
</div>
