﻿@model IList<Falley.ViewModel.Projects.SaveProjectViewModel>

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4><b>Projects</b></h4>

<div>
    <hr />
    @foreach (var project in Model)
    {
        <div class="mb-2 row ml-1">
            <div class="col-md-2" style="background-color: cadetblue">
                <label class="control-label"><b>Project Repository</b></label>
            </div>
            <div class="col-md-6">
                <h5><a asp-area="" asp-action="Edit" asp-controller="Projects" asp-route-id="@project.Id">@Html.DisplayFor(model => project.ProjectRepository)</a></h5>
            </div>
        </div>
        <div class="mb-2 row ml-1">
            <div class="col-md-2" style="background-color: cadetblue">
                <label class="control-label"><b>Project Name</b></label>
            </div>
            <div class="col-md-6">
                <h5>@Html.DisplayFor(model => project.ProjectName)</h5>
            </div>
        </div>
        <hr />
    }
</div>
<div>
    <a asp-action="Index">Back to List</a> | <a asp-action="Create" asp-controller="Projects">Update Project</a>
</div>
